.header {
  margin-top: 20px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background-secondary);
  border-radius: 10px;
  border: var(--border-width) solid var(--border-color);
}

.title {
  color: rgb(99, 102, 241);
  font-size: 18px;
  
  strong {
    color: rgb(99, 102, 241);
  }
}

.themeToggle {
  display: flex;
  align-items: center;
}

.themeSwitchButton {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  * {
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }
} 