.header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--text-color);
  font-size: 18px;
  
  strong {
    color: rgb(99, 102, 241);
  }
}

[data-theme="dark"] {
  .title {
    color: #ffffff;
    
    strong {
      color: #ffffff;
    }
  }
}

.themeToggle {
  display: flex;
  align-items: center;
}

.themeSwitchButton {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  * {
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

.section {
  padding: 32px 0;
  border-bottom: 1px solid var(--border-color);

  &:last-child {
    border-bottom: none;
  }
}

:global {
  [data-theme="light"] {
    --border-color: #e5e7eb;
  }

  [data-theme="dark"] {
    --border-color: #374151;
  }
} 