.header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--text-color);
  font-size: 18px;
  
  strong {
    color: rgb(99, 102, 241);
  }
}

[data-theme="dark"] {
  .title {
    color: #ffffff;
    
    strong {
      color: #ffffff;
    }
  }
}

.themeToggle {
  display: flex;
  align-items: center;
}

.themeSwitchButton {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  * {
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }
} 