.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 38px;

  &:nth-child(1) {
    margin-bottom: 20px;
  }
}

// @media (max-width: 572px) {
//   .wrapper{
//     &:nth-child(1) {
//       margin-bottom: 12px !important;
//     }
//   }
// }

.category {
  margin-right: 35px;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color);
  transition: color 0.3s ease;
  text-shadow: 0 1px 2px var(--shadow-color);
}

.children {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1260px) {
  .category {
    min-width: 140px;
  }
}


@media (max-width: 768px) {
  .category {
    min-width: 90px;
  }

  .wrapper{
    height: initial;
  }
}



@media (max-width: 481px) {
  .wrapper{
    flex-direction: column !important;
    flex-wrap: initial !important;
    align-items: flex-start !important;
  }

  .children {
    width: 100% !important;
    justify-content: flex-end !important;
  }

  .category {
    margin-right: 0 !important;
  }

}
