.label {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  background-color: var(--background-main);
  top: 50%;
  height: 22px;
  transform: translateY(-50%);
  left: 1px;
  margin-left: 3px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
  font-weight: 400;
}

.wrapper {
  position: relative;
}
