@import "src/assets/style/design.scss";

.password-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background: var(--background-main);
  transition: all 0.3s ease;

  &__content-wrapper {
    width: 800px;
    padding: 24px;
    background: var(--background-secondary);
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px var(--shadow-color),
                0 10px 15px -3px var(--shadow-color);
    transition: all 0.3s ease;

  }

  &__title {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
    letter-spacing: -0.5px;
  }

  &__input-wrapper {
    margin-top: 24px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--text-secondary);
    font-weight: 500;

    strong {
      color: var(--text-color);
      font-weight: 600;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 16px;
    font-size: 16px;
    color: var(--text-color);
    background: var(--background-main);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    outline: none;
    transition: all 0.2s ease;

    &::placeholder {
      color: var(--text-secondary);
    }

    &:hover {
      border-color: var(--primary-color);
      background: var(--background-main);
    }

    &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 0 4px rgba(var(--primary-color-rgb), 0.1);
      background: var(--background-main);
    }

    &:disabled {
      background: var(--background-secondary);
      color: var(--text-secondary);
      cursor: not-allowed;
    }
  }

  &__submit-button {
    margin-top: 24px;
    padding: 0 24px;
    width: 100%;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background: rgb(99, 102, 241);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover:not(:disabled) {
      background: rgb(79, 70, 229);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
